@use 'global' as *;
.layout-footer {
  margin-top: rem(104);
  @include mq('md') {
    margin-top: rem(163);
  }
}

.layout-footer.footer__about {
  @include mq('md') {
    margin-top: rem(163);
  }
}

.layout-footer.layout-footer--contact {
  margin-top: rem(148);
  @include mq('md') {
    margin-top: rem(166);
  }
}

.layout-footer.layout-footer--thanks {
  margin-top: rem(145);
  @include mq('md') {
    margin-top: rem(122);
  }
}
