@use 'global' as *;

.blog-side-menu-campaign-card {
  height: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  width: 100%;

  box-shadow: rem(4) rem(4) rem(10) rgba(0, 0, 0, 0.25);
  @include mq('md') {
    padding-bottom: rem(44);
  }
}

.blog-side-menu-campaign-card a {
}

.blog-side-menu-campaign-card img {
  aspect-ratio: 294 / 188;
  object-fit: cover;
  width: 100%;

  @include mq('md') {
    // aspect-ratio: 520 / 347;
  }
}

.blog-side-menu-campaign-card__body {
  padding: rem(20) rem(16) rem(24);
  @include mq('md') {
    padding: rem(24) rem(24) rem(0);
  }
}

.blog-side-menu-campaign-card__tag {
  border: rem(1) solid $lightGreen;
  padding: rem(5.2) rem(11);
  width: 100%;
  max-width: rem(108);

  font-family: $third-font-family;
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1.8333;
  color: $lightGreen;
  @include mq('md') {
    padding: rem(5.0079888) rem(15.12);
    max-width: fit-content;
    display: inline-block;
  }
}

.blog-side-menu-campaign-card__title {
text-align: center;

  font-family: $third-font-family;
  color: $darkGreen;
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $medium;
  margin-top: rem(6);
  border-bottom: rem(1) solid $lightGreen;
  padding-bottom: rem(7);
  @include mq('md') {
    margin-top: rem(3);
    font-size: rem(24);
    padding-bottom: rem(3);
  }
}

.blog-side-menu-campaign-card__container {
  background-color: transparent;
  margin-top: rem(8);
  height: auto;
  @include mq('md') {
    margin-top: rem(21);
  }
}

.blog-side-menu-campaign-card__text {
  font-family: $third-font-family;
  font-size: rem(14);
  line-height: 1.714;
  color: $darkGreen;
  font-weight: $regular;
  text-align: center;

  @include mq('md') {
    font-size: rem(16);
    text-indent: -1em;
  }
}

.blog-side-menu-campaign-card__price-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 6.451612903%;
  margin-top: rem(7);
  align-items: baseline;
  @include mq('md') {
    gap: 9%;
  }
}

.blog-side-menu-campaign-card__price-sub {
  color: $darkGreen;
  font-family: $second-font-family;
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  text-decoration: line-through;
  text-decoration-color: $red;
  text-decoration-thickness: rem(3);
  display: flex;
  align-items: center;
  @include mq('md') {
    font-size: rem(24);
    align-items: flex-end;
  }
}

.blog-side-menu-campaign-card__price-main {
  font-family: $second-font-family;
  font-size: rem(32);
  font-weight: $bold;
  line-height: 1;
  color: $lightGreen;
  text-indent: rem(2);
  @include mq('md') {
    font-size: clamp(0.75rem, 0.1338rem + 2.6291vw, 2.5rem);
  }
}

.blog-side-menu-campaign-card__content-wrap {
  @include mq('md') {
    margin-top: rem(24);
    padding: 0 rem(24);
  }
}

.blog-side-menu-campaign-card__main-text {
  @include mq('md') {
    font-family: $third-font-family;
    font-size: rem(16);
    line-height: 1.5;
    color: $darkGreen;
    font-weight: $regular;
  }
}

.blog-side-menu-campaign-card__date {
  @include mq('md') {
    text-align: center;
    font-family: $second-font-family;
    font-size: rem(16);
    line-height: 1.125;
    font-weight: $bold;
    color: $lightGreen;
    margin-top: rem(32);
    text-indent: rem(-16);
  }
}

.blog-side-menu-campaign-card__reservation {
  @include mq('md') {
    font-family: $third-font-family;
    font-size: rem(14);
    color: $lightGreen;
    font-weight: $regular;
    line-height: 1.2857;
    text-align: center;
    margin-top: rem(7);
  }
}

.blog-side-menu-campaign-card__button {
  @include mq('md') {
    text-align: center;
    margin-top: rem(16);
  }
}
