@use 'global' as *;

.blog-side-menu-campaign-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(40);
  // width: 81.16%;
  width: 100%;
  margin: auto;
  @include mq('md') {
    grid-template-columns: repeat(1, 1fr);
    column-gap: rem(40);
    row-gap: rem(80);
    width: 100%;
  }
}
