@use 'global' as *;
// キャンペーン


// .sub-campaign__breadcrumbs {
//   margin-top: rem(8);
//   @include mq('md') {
//   }
// }

// // About-us
// .about-us__breadcrumbs{
//   margin-top: rem(8);
//   @include mq('md') {
//   }
// }
// // information
// .information__breadcrumbs{
//   margin-top: rem(8);
//   @include mq('md') {
  
//   }
// }

.breadcrumbs {
  font-family: $third-font-family;
  font-size: rem(14);
  font-weight: $regular;
  color: $darkGreen;
  max-width: rem(600);
  width: 100%;
  padding-right: rem(9);
  padding-left: rem(9);
  margin-right: auto;
  margin-left: auto;

  @include mq('md') {
    max-width: rem(1142);
    padding-right: rem(25);
    padding-left: rem(25);
  }
}

.breadcrumbs span a span {
  text-transform: uppercase;
}
.breadcrumbs span span {
  margin-left: rem(6);
  @include mq('md') {
  }
}
.breadcrumbs__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(1130);
  width: 100%;
  padding-left: rem(15);
  padding-right: rem(15);
}

.breadcrumbs span a::after {
  position: relative;
  margin-left: rem(2);
  border-right: rem(1) solid $darkGreen;
  border-top: rem(1) solid $darkGreen;
  content: '';
  display: inline-block;
  height: rem(7);
  width: rem(7);
  top: rem(-2);
  transform: rotate(45deg);
  @include mq('md') {
  }
}
