@use 'global' as *;

.button {
  position: relative;
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(14);
  color: $white;
  line-height: 1.5714;
  border: rem(1) solid $lightGreen;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  padding: rem(16) 0;
  white-space: nowrap;
  z-index: 1;

  text-align: center;
  width: 100%;
  max-width: rem(206);
  background-color: $lightGreen;
}

// ボタンのアニメーション
.button::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.button:hover {
  color: $lightGreen;
}
.button:hover::after {
  transform: scale(1, 1);
}

// ボタンの影
.button::before {
  position: absolute;
  content: '';
  width: 100%;
  max-width: rem(206);
  height: rem(54);
  border: rem(1) solid $lightGreen;
  left: rem(4);
  top: rem(4);
  z-index: -1;
}

// ボタンの矢印

.button__arrow {
  position: relative;
  display: inline-block;
  width: rem(40);
  height: rem(1);
  background-color: $white;
  vertical-align: middle;
}
.button__arrow::after {
  position: absolute;
  content: '';
  height: rem(1);
  width: rem(10);
  background-color: $white;
  right: 0;
  top: 0;
  transform: rotate(45deg);
  transform-origin: top right;
}

.button:hover .button__arrow {
  background-color: $lightGreen; // ここでホバー時の背景色を白に設定
}

.button:hover .button__arrow::after {
  background-color: $lightGreen; // ここでホバー時の矢印の部分の背景色も白に設定
}
