@use 'global' as *;

.common-fv {
  position: relative;

  background-image: url(../images/campaign/campaign-fv-SP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  height: rem(460);

  @include mq('md') {
    background-image: url(../images/campaign/campaign-fv-PC.jpg);
    height: rem(548);
  }
}
// about-us画像
.common-fv.common-fv--about {
  background-image: url(../images/about-us/about-us-SP.jpg);

  @include mq('md') {
    background-image: url(../images/about-us/about-us-PC.jpg);
  }
}
//information画像

.common-fv.common-fv--information {
  background-image: url(../images/information/information-fv_SP.jpg);

  @include mq('md') {
    background-image: url(../images/information/information-fv_PC.jpg);
  }
}
// Blog一覧画像
.common-fv.common-fv--blog {
  background-image: url(../images/blog/blog-fv-PC.jpg);

  @include mq('md') {
    background-image: url(../images/blog/blog-fv-PC.jpg);
  }
}

// Voice
.common-fv.common-fv--voice {
  background-image: url(../images/voice/voice-fv-SP.jpg);

  @include mq('md') {
    background-image: url(../images/voice/voice-fv-PC.jpg);
  }
}

// Price
.common-fv.common-fv--price {
  background-image: url(../images/price/price-fvSP.jpg);

  @include mq('md') {
    background-image: url(../images/price/price-fvPC.jpg);
  }
}
// faq
.common-fv.common-fv--faq {
  background-image: url(../images/FAQ/FAQ-fvSP.jpg);

  @include mq('md') {
    background-image: url(../images/FAQ/FAQ-fvPC.jpg);
  }
}
// contact
.common-fv.common-fv--contact {
  background-image: url(../images/contact/contact-fvSP.jpg);

  @include mq('md') {
    background-image: url(../images/contact/contact-fvPC.jpg);
  }
}

// site map
.common-fv.common-fv--sitemap {
  background-image: url(../images/sitemap/sitemapFV-SP.jpg);

  @include mq('md') {
    background-image: url(../images/sitemap/sitemapFV-PC.jpg);
  }
}
// privacy
.common-fv.common-fv--privacy {
  background-image: url(../images/sitemap/sitemapFV-SP.jpg);

  @include mq('md') {
    background-image: url(../images/sitemap/sitemapFV-PC.jpg);
  }
}

.common-fv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);

  font-family: $second-font-family;
  font-weight: $regular;
  font-size: rem(40);
  color: $white;
  @include mq('md') {
    font-size: rem(80);
    top: 59.3%;
    line-height: 1.25;
  }
}
