@use 'global' as *;

.common-fv {
  position: relative;
  @include mq('md') {
  }
}

.common-fv__title {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  font-family: $second-font-family;
  font-weight: $regular;
  font-size: rem(40);
  color: $white;
  @include mq('md') {
    font-size: rem(80);
    top: 59.3%;
    line-height: 1.25;
  }
}

.common-fv img {
  aspect-ratio: 375 / 460;
  object-fit: cover;
  width: 100%;

  @include mq('md') {
    aspect-ratio: 1440 /548;
  }
}
