@use 'global' as *;

.contact__inner {
  position: relative;
}

.contact__inner::after {
  background-image: url(../images/common/fish-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: rem(55);
  left: calc(50% - min(46vw, 38.75rem));
  position: absolute;
  top: -2.2%;
  width: rem(120);
  z-index: 1;
  @include mq('md') {
    width: rem(301);
    height: rem(138);
    top: -6.3%;
  }
}

.contact__error-message {
  margin-top: rem(52);
  font-family: $third-font-family;
  font-size: rem(14);
  font-weight: $regular;

  color: $red;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: rem(224);
  @include mq('md') {
    margin-top: rem(150);

    max-width: rem(700);
    text-align: center;
    text-indent: 1em;
    line-height: 1.43;
  }
}

.contact__error-indent {
  display: inline-block;
  text-indent: 1em;
  @include mq('md') {
    text-indent: 0;
  }
}
.contact__error-mark {
}

.contact__form {
  margin-top: rem(37);
  @include mq('md') {
  }
}

.contact__button {
  text-align: center;
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(38);
  }
}
