@use 'global' as *;

.form-submit input:hover,
.form-submit input:focus {
  outline: none;
}

.form-submit input:hover {
  @include mq(md) {
    opacity: 0.8;
  }
}

.form-submit input::-moz-foucus-inner {
  padding: 0;
  border: none;
}
