
@use "global" as *;

.form-textarea textarea {
    padding: rem(8) rem(15);
    width: 100%;
    height: rem(200);
    font-size: rem(16);
    font-family: $third-font-family;
    font-weight: $regular;
    border-radius: 0;
    border: 1px solid $lightGreen;
    appearance: none;
    background-color: transparent;
    background-image: none;
    resize: none;
}

.form-textarea textarea:focus {
    border: 1px solid $lightGreen;
    
    box-shadow: none;
    outline: none;
}