
@use "global" as *;

.form-textarea textarea {
    padding: rem(8) rem(15);
    width: 100%;
    height: rem(150);
    font-size: rem(15);
    border-radius: 0;
    border: 1px solid #ccc;
    appearance: none;
    background-color: transparent;
    background-image: none;
}

.form-textarea textarea:focus {
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
}