@use 'global' as *;

// .form-submit input {
//   padding: rem(25) rem(125);
//   color: #fff;
//   display: inline-block;
//   font-size: rem(16);
//   line-height: 1;
//   background-color: #c5ae66;
//   background-image: none;
//   border: none;
//   border-radius: 0;
//   text-decoration: none;
//   cursor: pointer;
//   transition: 0.3s;
// }

.form-submit input:hover,
.form-submit input:focus {
  outline: none;
}

.form-submit input:hover {
  @include mq(md) {
    opacity: 0.8;
  }
}

.form-submit input::-moz-foucus-inner {
  padding: 0;
  border: none;
}
