@use 'global' as *;

//MV

.mv {
  height: 100vh;
  min-height: rem(350);
  width: 100%;
  @include mq('md') {
    height: 100vh;
    min-height: rem(400);
  }
}
.mv__inner {
  position: relative;
  width: 100%;
  min-height: rem(350);
  @include mq('md') {
    min-height: rem(400);
  }
}

.mv__swiper-mask {
  overflow: hidden;
}

.mv__title-wrap {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-align: center;
  @include mq('md') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mv__title {
  width: 100%;
  white-space: nowrap;
  text-indent: rem(21);
  font-size: rem(40);
  font-weight: $regular;
  font-family: $second-font-family;
  letter-spacing: 0.54em;
  color: $white;
  line-height: 1.1;
  text-transform: uppercase;
  @include mq('md') {
    text-align: center;
    letter-spacing: 0.54em;
    text-indent: 0.54em;
    line-height: 1.25;
    font-size: rem(80);
  }
}

.mv__sub-title {
  margin-top: rem(3);
  font-size: rem(20);
  text-align: center;
  font-family: $base-font-family;
  text-align: center;

  color: $white;
  font-weight: $regular;
  width: 100%;
  @include mq('md') {
    font-size: rem(18);
    white-space: nowrap;
    text-align: center;
    margin-top: 0;

    letter-spacing: 0.12em;
    font-weight: $regular;
  }
}
