@use 'global' as *;

.page-top a {
  display: inline-block;
  background-color: white; 
  border-radius: 50%; 
  width: rem(48); 
  height: rem(48); 
  text-align: center; 
  line-height: rem(48); 
  @include mq('md') {
    width: rem(80);
    height: rem(80);
    line-height: rem(80);
  }
}

.page-top a img {
  width: 100%; 
  height: auto; 
  vertical-align: middle; 
}
