@use 'global' as *;

.privacy-policy__inner.inner {
  @include mq('md') {
    max-width: rem(850);
  }
}

.privacy-policy__inner {
  position: relative;
}

.privacy-policy__inner::after {
  background-image: url(../images/common/fish-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: rem(55);
  left: calc(50% - min(46vw, 38.75rem));
  position: absolute;
  top: 0.8%;
  width: rem(120);
  z-index: 1;
  @include mq('md') {
    width: rem(301);
    height: rem(138);
    top: -7.3%;
  }
}

.privacy-policy__title {
  font-size: rem(24);
  font-family: $third-font-family;
  font-weight: $medium;
  color: $darkGreen;

  @include mq('md') {
    font-size: rem(32);
  }
}

.privacy-policy__body {
  margin-top: rem(35);
  font-family: $third-font-family;
  font-size: rem(16);
  line-height: 2;
  color: $darkGreen;
  font-weight: $regular;

  @include mq('md') {
  }
}

.privacy-policy__number-list {
  list-style-position: outside;
  list-style: auto;
  padding-left: rem(23);

  @include mq('md') {
  }
}

.privacy-policy__non-number-list {
  // list-style-position: outside;
  // padding-left: rem(13);
  // list-style: disc;
}

.privacy-policy__non-number-list-item::marker {
  font-size: 50%;
  @include mq('md') {
  }
}
