@use "global" as *;


.sitemap {
  background-color: $white;
  // padding-bottom: rem(56);
  // padding-top: rem(48);

  @include mq('md') {
    // padding-bottom: rem(80);
    // padding-top: rem(76);
  }
}

.sitemap__inner {
  position: relative;
}

.sitemap__inner::after {
  background-image: url(../images/common/fish-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: rem(55);
  left: calc(50% - min(46vw, 38.75rem));
  position: absolute;
  top: 0.8%;
  width: rem(120);
  z-index: 1;
  @include mq('md') {
    width: rem(301);
    height: rem(138);
    top: -38.3%;
  }
}

.sitemap__logos {
  @include mq('md') {
    display: flex;
    align-items: flex-end;
  }
}
.sitemap__logo {
  width: rem(120);
  @include mq('md') {
    width: rem(200);
  }
}

.sitemap__icons {
  display: flex;
  gap: rem(16);
  margin-top: rem(17);
  @include mq('md') {
    margin-left: rem(40);
  }
}

.sitemap__facebook {
  width: rem(24);
  height: rem(24);
  @include mq('md') {
    width: rem(32);
    height: rem(32);
  }
}

.sitemap__instagram {
  width: rem(24);
  height: rem(24);
  @include mq('md') {
    width: rem(32);
    height: rem(32);
  }
}
.sitemap__nav {
  height: inherit;
  display: flex;
  justify-content: center;
  padding-right: rem(15);
  padding-left: rem(23);
  gap: rem(39);
  // margin-top: rem(12);

  @include mq('md') {
    column-gap: rem(143);
    margin-top: 0;
    justify-content: start;
  }
}

.sitemap__items {
  margin-top: rem(28);
}

.sitemap__item a {
  display: flex;
  padding: rem(12) 0;
  font-family: $third-font-family;
  width: 100%;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.125;
  color: $darkGreen;
  text-align: center;
  white-space: nowrap;
  transition: opacity 0.3s;
}

.sitemap__item a:hover {
  opacity: 0.7;
}




.sitemap__item.sitemap__item--title a {
  font-weight: $bold;
  position: relative;
  text-align: left;
  padding-top: 0;
  @include mq('md') {
  }
}
.sitemap__item.sitemap__item--title a::before {
  position: absolute;
  content: '';
  background-image: url('../images/under-common/hitode-black.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: rem(-20);
  width: rem(18);
  height: rem(18);
  z-index: 10;

}

.sitemap__left {
  height: inherit;
  @include mq('md') {
    display: flex;
    column-gap: rem(141);
  }
}

.sitemap__right {
  @include mq('md') {
    display: flex;
    column-gap: rem(141);
  }
}

.sitemap__copyright {
  font-family: $base-font-family;
  font-size: rem(12);
  line-height: 1.5;
  font-weight: $regular;
  color: $white;
  display: inline-block;
  margin-top: rem(27);
  @include mq('md') {
    margin-top: rem(69);
    display: block;
    text-align: center;
    line-height: 1.2857;
    font-size: rem(14);
  }
}
