@use 'global' as *;
.terms-of-service__inner {
  position: relative;
}

.terms-of-service__inner::after {
  background-image: url(../images/common/fish-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: rem(55);
  left: calc(50% - min(46vw, 38.75rem));
  position: absolute;
  top: -1.5%;
  width: rem(120);
  z-index: 1;
  @include mq('md') {
    width: rem(301);
    height: rem(138);
    top: -38.3%;
  }
}

.terms-of-service__container {
  @include mq('md') {
    max-width: rem(800);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.terms-of-service__title {
  font-size: rem(24);
  font-family: $third-font-family;
  font-weight: $medium;
  color: $darkGreen;

  @include mq('md') {
    font-size: rem(32);
  }
}

.terms-of-service__body {
  margin-top: rem(39);

  font-size: rem(16);
  font-family: $third-font-family;
  line-height: 2;
  font-weight: $regular;
  color: $darkGreen;

  @include mq('md') {
  }
}

.terms-of-service__number-list {
  list-style-position: outside;
  list-style: auto;
  padding-left: rem(23);

  @include mq('md') {
  }
}

.terms-of-service__non-number-list-item::marker {
  font-size: 40%;
}
