@use 'global' as *;

.top-price {
  background-color: $lightBlue;
  padding: rem(80) 0;
  @include mq('md') {
    padding-top: rem(97);
    padding-bottom: rem(104);
  }
}

.top-price__inner {
  position: relative;
}
.top-price__inner::after {
  @include mq('md') {
    position: absolute;
    content: '';
    background-image: url(../images/common/fish-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: rem(437);
    height: rem(201);
    left: calc(50% - min(50vw, 38.75rem));
    bottom: -12%;
  }
}

.top-price__container {
  margin-top: rem(30);
  @include mq('md') {
    margin-top: rem(38);

    display: flex;
    flex-direction: row-reverse;
    gap: 8.611%;
  }
}
.top-price__img {
  position: relative;
  @include mq('md') {
    width: 45.555555%;
  }
}

.top-price__img img {
  aspect-ratio: 345 / 227;
  object-fit: cover;
  width: 100%;
  display: block;
  @include mq('md') {
    aspect-ratio: 492 / 746;

    height: 100%;
  }
}

.top-price__img .color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $lightGreen;
}

.top-price__list {
  @include mq('md') {
    width: 45.5555555%;
  }
}

.top-price__list-wrap {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: 0;
  }
}
.top-price__list-wrap:not(:first-of-type) {
  margin-top: rem(39);
  @include mq('md') {
    margin-top: rem(40);
  }
}
.top-price__title {
  font-family: $third-font-family;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.5;
  color: $darkGreen;
  border-bottom: rem(1) solid $lightGreen;
  padding-bottom: rem(4);
  @include mq('md') {
  }
}

.top-price__list-item {
  display: flex;
  margin-top: rem(8);
  @include mq('md') {
  }
}
.top-price__content {
  font-family: $third-font-family;
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1.714;
  color: $darkGreen;
  @include mq('md') {
    max-width: rem(300);
    font-size: rem(16);
    line-height: 1.5;
  }
}
.top-price__price {
  font-family: $third-font-family;
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1.714;
  color: $darkGreen;
  margin-left: auto;
  @include mq('md') {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.top-price__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}
