@use 'global' as *;

.top-blog-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(330), 1fr));
  column-gap: rem(40);
  row-gap: rem(35);
  @include mq('md') {
    // grid-template-columns: repeat(auto-fill, minmax(rem(330), 1fr));
    grid-template-columns: repeat(3, 1fr);
  }
}

.top-blog-cards__item {
  box-shadow: 0px rem(4) rem(4) 0px rgba(0, 0, 0, 0.25);
  background-color: $white;
  @include mq('md') {
  }
}

.top-blog-cards__item a {
  display: block;
  padding: rem(21) rem(16) rem(24) rem(16);
  height: 100%;
  transition: opacity 0.3s;
  @include mq('md') {
    padding: rem(16) rem(19) rem(24) rem(16);
  }
}
.top-blog-cards__item a:hover {
  opacity: 0.7;
}
.top-blog-cards__img img {
  aspect-ratio: 301 / 201;
  object-fit: cover;
  width: 100%;
  @include mq('md') {
  }
}

.top-blog-cards__body {
  margin-top: rem(17);
  @include mq('md') {
  }
}

.top-blog-cards__date {
  font-family: $base-font-family;
  font-size: rem(12);
  line-height: 1.5;
  font-weight: $regular;
  color: $darkGreen;
  @include mq('md') {
  }
}

.top-blog-cards__title {
  font-family: $third-font-family;
  border-bottom: rem(1) solid $lightGreen;
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $medium;
  color: $darkGreen;
  padding-bottom: rem(3);

  @include mq('md') {
  }
}
.top-blog-cards__text {
  font-family: $third-font-family;
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $regular;
  color: $darkGreen;
  margin-top: rem(16);
  @include mq('md') {
  }
}
