@use 'global' as *;

.top-voice {
  padding-bottom: rem(80);
  @include mq('md') {
    // padding-bottom: rem(140);
  }
}

.top-voice__inner {
  position: relative;
}

.top-voice__inner::before {
  @include mq('md') {
    position: absolute;
    content: '';
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: rem(301);
    height: rem(138);
    left: calc(50% - min(48vw, 38.75rem));
    top: -12%;
  }
}
.top-voice__inner::after {
  @include mq('md') {
    position: absolute;
    content: '';
    background-image: url(../images/common/seahorse.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: rem(71);
    height: rem(162);
    right: 2%;
    bottom: rem(-70);
  }
}
.top-voice__cards {
  margin-top: rem(43);
  @include mq('md') {
    margin-top: rem(30);
  }
}

.top-voice__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}
