@use 'global' as *;

.top-about-us__inner {
  position: relative;
}
.top-about-us__inner::after {
  @include mq('md') {
    position: absolute;
    content: '';
    background-image: url(../images/common/sango.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: rem(194);
    height: rem(181);
    right: calc(50% - min(48vw, 40rem));
    bottom: -12%;
  }

}

.top-about-us__container {
  position: relative;
}
.top-about-us__image {
  margin-top: rem(29);
  position: relative;
  display: flex;
  justify-content: center;

  @include mq('md') {
    margin-top: rem(40);
    position: relative;
  }
}

.top-about-image__left {
  left: 0;
  top: 0;
  width: 37.1%;
  z-index: 2;
  @include mq('md') {
  }
}

.top-about-image__left img {
  aspect-ratio: 128 / 194;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 400 / 606;
  }
}
.top-about-image__right {
  margin-left: -18.5%;
  margin-top: 7.25%;
  width: 81.45%;
  @include mq('md') {
    position: relative;
  }
}
.top-about-image__right img {
  aspect-ratio: 281 / 186;
  object-fit: cover;
  width: 100%;
  @include mq('md') {
    aspect-ratio: 880 / 581;
  }
}

.top-about-us__body {
  margin-top: rem(40);
  @include mq('md') {
    position: absolute;
    margin-top: 0;
    display: flex;
    gap: rem(40);
    align-items: center;

    padding: 0 rem(15);
    top: 35%;
    left: 17%;
  }
}

.top-about-us__title {
  font-family: $base-font-family;
  font-size: rem(40);
  line-height: 1;
  font-weight: $regular;
  color: $lightGreen;
  text-align: left;
  @include mq('md') {
    color: $white;
    font-size: rem(80);
    line-height: 1.25;
    z-index: 50;
  }
}

.top-about-us__text {
  font-family: $third-font-family;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
  text-align: left;
  @include mq('md') {
    max-width: rem(400);
    color: $white;
  }
}

.top-about-us__box {
  text-align: center;
  margin-top: rem(17);
  @include mq('md') {
    margin-top: rem(40);
  }
}
.top-about-us__button {
  margin-top: rem(26);
  @include mq('md') {
    margin-top: rem(40);
  }
}
