@use 'global' as *;

// ページネーション

.sub-campaign-card__pagination {
  margin-top: rem(80);
}

.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12);

  @include mq('md') {
  }
}
.wp-pagenavi a.sub-campaign-card__pagination-prev,
.wp-pagenavi a.sub-campaign-card__pagination-next{
  padding: rem(9) rem(12);

}
.wp-pagenavi a.sub-campaign-card__pagination-prev::before {
  position: relative;
  top: rem(1);
  left: rem(3);
  border-right: 1px solid $lightGreen;
  border-top: 1px solid $lightGreen;
  content: '';
  display: inline-block;
  // margin-bottom: 0.125rem;
  transition: 0.3s;
  width: rem(12);
  height: rem(12);
  transform: rotate(220deg);
  
  @include mq('md') {
  }
}
.wp-pagenavi a.sub-campaign-card__pagination-next::after {
  position: relative;
  top: rem(1);
  right: rem(3);
  border-right: 1px solid $lightGreen;
  border-top: 1px solid $lightGreen;
  content: '';
  display: inline-block;
  transition: 0.3s;
  width: rem(12);
  height: rem(12);
  transform: rotate(45deg);

  @include mq('md') {
  }
}

.wp-pagenavi a.sub-campaign-card__pagination-next {
  margin-left: rem(28);
}
.wp-pagenavi a,
.wp-pagenavi span {
  font-size: 12px;
  color: $lightGreen;
  border: 1px solid $lightGreen;
  background-color: $white;
  // display: inline-block;
  font-family: $second-font-family;
  padding: rem(9) rem(14.53);
  @include mq('md') {
  }
}
.wp-pagenavi span.current {
  color: $white;
  background-color: $lightGreen;
  padding: rem(9) rem(14.53);
  margin-left: rem(28);
  // border: none ;

  @include mq('md') {
  }
}
