@use 'global' as *;

// ページネーション

.sub-campaign-card__wp-pagenavi {
  margin-top: rem(80);
}
.blog__wp-pagenavi {
  margin-top: rem(84);
}

.voice__wp-pagenavi {
  margin-top: rem(80);
}
// 共通部分

.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12);
  @include mq('md') {
  }
}
.wp-pagenavi span.current {
  color: $white;
  background-color: $lightGreen;
  padding: rem(6) rem(13.36);
  margin-left: rem(28);

  @include mq('md') {
  }
}
.wp-pagenavi a:last-child {
  margin-left: rem(28);
  @include mq('md') {
  }
}

.wp-pagenavi a:first-child,
.wp-pagenavi a:last-child {
  padding: rem(6) rem(12);
}
.wp-pagenavi a:first-child::before {
  position: relative;
  top: rem(1);
  left: rem(3);
  border-right: rem(1) solid $lightGreen;
  border-top: rem(1) solid $lightGreen;
  content: '';
  display: inline-block;
  transition: 0.3s;
  width: rem(12);
  height: rem(12);
  transform: rotate(220deg);

  @include mq('md') {
  }
}
.wp-pagenavi a:last-child::after {
  position: relative;
  top: rem(1);
  right: rem(3);
  border-right: rem(1) solid $lightGreen;
  border-top: rem(1) solid $lightGreen;
  content: '';
  display: inline-block;
  transition: 0.3s;
  width: rem(12);
  height: rem(12);
  transform: rotate(45deg);

  @include mq('md') {
  }
}
.wp-pagenavi a:first-child:hover::before {
  border-right: rem(1) solid $white;
  border-top: rem(1) solid $white;
}
.wp-pagenavi a:last-child:hover::after {
  border-right: rem(1) solid $white;
  border-top: rem(1) solid $white;
}

// .wp-pagenavi a.sub-campaign-card__wp-pagenavi-next {
//   margin-left: rem(28);
// }
.wp-pagenavi a,
.wp-pagenavi span {
  font-size: rem(16);
  color: $lightGreen;
  font-weight: $bold;
  border: rem(1) solid $lightGreen;
  background-color: $white;
  font-family: $second-font-family;
  padding: rem(6) rem(13.36);
  transition: 0.3s;
  @include mq('md') {
  }
}

.wp-pagenavi a:hover {
  color: $white;
  background-color: $lightGreen;
}
